@media only screen and (min-width: 280px) { 
img {
    width: 50%;
    display: block;
    margin: auto;
}

h2, p {
    text-align: center;
}

.details {
    display: grid;
}
}

@media only screen and (min-width: 780px) { 
.details {
    grid-template-columns: 1fr 1fr;
    }
 }
