<h2>Movie details</h2>
<div class="container">
    <div>
        <div class="details">
            <img [src]="image" alt="">
            <div class="finerDetails">
                <p>Title: {{title}} </p>
                <p>Released: {{releaseYear}}</p>
                <p>{{descr}}</p>
                <ol>Classification
                    <li *ngFor="let item of genre">{{item}}</li>
                </ol>

                <button class="btn btn-outline-secondary" (click)='onBack()'>
                    Back
                </button>
            </div>

        </div>


    </div>

</div>