@media only screen and (min-width: 280px) {
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: mediumaquamarine;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    padding: 2%;
    margin-bottom: 2%;
    /*position: absolute;*/
}

.menu {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.menuCtrl {
    justify-self: center;
    align-self: center;
    display: block;
}

a {
    text-decoration: none;   
    color: rgb(98, 112, 238);
    text-align: center;
    font-size: small;
}

img.logo {
    max-height: 100%;
}

.modalControl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a:hover {
   
color: red;
}
}

@media only screen and (min-width: 580px) {
    .menuCtrl {       
        display: none;
    }
    .nav {      
        grid-template-columns: 1fr 1fr 1fr 1fr;          
       /* position: relative;*/
    }
}